if SHIELD_TOTEM_7RACKER_LEFT
config ZMK_KEYBOARD_NAME
    default "Totem 7racker"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_TOTEM_7RACKER_LEFT || SHIELD_TOTEM_7RACKER_RIGHT
config ZMK_SPLIT
    default y

config SPI
    default y
endif
